@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #AA4847;
}

.movie_title {
  text-align: center;
  font-weight: 400;
  font-size: 2.5rem;
  font-family: verdana;
  color: white;
  margin: 0;
}

.forms {
  font-family: verdana;
  text-align: center;
  padding-top:15px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:40px;
}
label {
  font-family: verdana;
}
input[type="text"], textarea {
  width: 40%;
}
textarea {
  height: 100px;
}
input[type="file"] {
  position: absolute; left:40%; right:60%;
  padding-bottom:40px;
}

.actions {
  position: absolute; left:60%; right:40%;
}

.links {
a:link {color:#FF0000; text-decoration:none;}
a:visited {color:#0000FF; text-decoration:none;}
a:hover {font-size:20; color:#00FF00; text-decoration:underline;}
a:active {color:#FF00FF; text-decoration:underline;}
}

.new_review_title {
  text-align: center;
  font-weight: 400;
  font-size: 2.5rem;
  font-family: verdana;
  color: white;
  margin: 0;
}

.review_title {
  margin: 0 0 20px 0;
}
.reviews {
  padding: 15px 0;
  border-bottom: 1px solid #EAEAEA;
  .star-rating {
    padding-bottom: 8px;
  }
}

